<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" type="text/css" href="lib/reset.css">
    <link rel="stylesheet" type="text/css" href="lib/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-aside class="cb-sidebar-back">

                <el-row class="tac">
                    <el-col>
                        <el-menu default-active="2" class="cb-sidebar el-menu-vertical-demo" @open="handleOpen"
                            @close="handleClose">

                            <el-menu-item index="0">
                                <i class="el-icon-s-fold"></i>
                                <img src="images/panel-logo-menu.png"></img>
                            </el-menu-item>

                            <el-menu-item index="1">
                                <i class="el-icon-discover"></i>
                                <span>Dashboard</span>
                            </el-menu-item>

                            <el-menu-item index="2">
                                <i class="el-icon-s-shop"></i>
                                <span>Marketplace</span>
                            </el-menu-item>

                            <el-submenu index="3">
                                <template slot="title">
                                    <i class="el-icon-user-solid"></i>
                                    <span>Accounts</span>
                                </template>
                                <el-menu-item index="3-1">Customers</el-menu-item>
                                <el-menu-item index="3-2">Agents</el-menu-item>
                            </el-submenu>
                            <el-menu-item index="4">
                                <i class="el-icon-document"></i>
                                <span>Subscriptions</span>
                            </el-menu-item>
                            <el-menu-item index="5" click="alert('111');window.open('test-kit.html')">
                                <i class="el-icon-collection"></i>
                                <span>UI Kit</span>
                            </el-menu-item>
                            <div style="height:100%"></div>
                        </el-menu>
                    </el-col>
                </el-row>
                <el-row class="tac cb-sidebar-bottom">
                    <el-col>
                        <el-menu default-active="" class="cb-sidebar el-menu-vertical-demo">
                            <el-menu-item index="1">
                                <i class="el-icon-setting"></i>
                                <span>Settings</span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-help"></i>
                                <span>Support</span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>

                <script>
                    export default {
                        methods: {
                            handleOpen(key, keyPath) {
                                console.log(key, keyPath);
                            },
                            handleClose(key, keyPath) {
                                console.log(key, keyPath);
                            }
                        }
                    }
                </script>
            </el-aside>
            <el-container>
                <el-header height="auto">
                    <el-row align="medium">
                        <el-col :span="12">
                            <h1 class="cb-topbar-label">
                                Marketplace
                            </h1>
                        </el-col>
                        <el-col :span="12" align="right">
                            <el-badge is-dot class="item">
                                <a href="https://www.ele.me" target="_blank">
                                    <i class="el-icon-bell cb-topbar-icon"></i></a>
                            </el-badge>
                            &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <el-badge :value="12" class="item" type="primary">
                                <a href="https://www.ele.me" target="_blank">
                                    <i class="el-icon-shopping-cart-full cb-topbar-icon"></i></a>
                            </el-badge>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <el-button type="text default">Categories<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text default">Vendors<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text default">Solutions<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text default"><i class="el-icon-collection-tag el-icon--left"></i>My
                                favorites</i>
                            </el-button>
                        </el-col>
                    </el-row>
                </el-header>
                <el-main>
                    <el-divider></el-divider>
                    <!---------------------------------------------------------------CONTENT---->
                    <!-- Header -->
                    <table width="100%">
                        <tr>
                            <td>
                                <h3>You recently sold it</h3>
                            </td>
                            <td align="right">
                                <el-link type="primary">See all</el-link>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <!-- Plans -->
                    <el-row :gutter="12">
                        <el-col :span="8">
                            <!-- Plan -->
                            <div onclick="alert('clicked')">
                                <table class="cb-marketplace-plan" width="100%">
                                    <tr>
                                        <td rowspan="">
                                            <img class="plan-icon" src="images/services/o365.png"></img>
                                        </td>
                                        <td class="plan-content">
                                            <div class="plan-label">Microsoft Office 365</div>
                                            <div class="plan-vendor">Microsoft</div>
                                            <div>
                                                <el-tag size="mini" effect="dark" type="success">Trial Available
                                                </el-tag>
                                                <br />
                                                <el-tag size="mini" effect="dark" type="danger">Discounts</el-tag>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <!-- Plan -->
                            <table class="cb-marketplace-plan">
                                <tr>
                                    <td rowspan="">
                                        <img class="plan-icon" src="images/services/acronis.png"></img>
                                    </td>
                                    <td class="plan-content">
                                        <div class="plan-label">Acronis O365 Backup</div>
                                        <div class="plan-vendor">Acronis</div>
                                        <div>
                                            <span class="plan-price">up to 25.00%</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </el-col>
                        <el-col :span="8">
                            <!-- Plan -->
                            <table class="cb-marketplace-plan">
                                <tr>
                                    <td rowspan="">
                                        <img class="plan-icon" src="images/services/dropbox.png"></img>
                                    </td>
                                    <td class="plan-content">
                                        <div class="plan-label">Dropbox Business: Advanced</div>
                                        <div class="plan-vendor">Dropbox</div>
                                        <div>
                                            <el-tag size="mini" effect="dark" type="warning">Special Price</el-tag>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </el-col>
                    </el-row>
                    <!-- Product -->
                    <h3>Product Page</h3>
                    <el-row :gutter="24">
                        <el-col :span=" 24">
                            <!-- Product -->
                            <div class="cb-marketplace-product">
                                <!-- Header -->
                                <div class="header">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <img class=" icon" src="images/services/o365.png"></img>
                                            </td>
                                            <td class="content" width="100%">
                                                <div class="product">Microsoft Office 365</div>
                                                <div class="vendor">Microsoft</div>
                                            </td>
                                            <td align="right">
                                                <el-button class="cb-button-contrast" size="medium"><i
                                                        class="el-icon-collection-tag el-icon--left"></i>Add to
                                                    favorites
                                                </el-button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- Description-->
                                <div class="cb-page-description">
                                    Work anywhere, anytime on any device. Office 365 provides a complete set of tools to
                                    increase productivity and collaboration, whether you're working in the office or on
                                    the go.
                                </div>
                                <!-- Tabbar -->
                                <el-tabs v-model="activeName" @tab-click="handleClick">
                                    <el-tab-pane label="Pricing" name="first"></el-tab-pane>
                                    <el-tab-pane label="Overview" name="second"></el-tab-pane>
                                    <el-tab-pane label="Sales & Marketing materials" name="third"></el-tab-pane>
                                </el-tabs>
                                <!-- -->
                                <!-- Plans Header -->
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <h3>4 Service plans</h3>
                                        </td>
                                        <td align="right">
                                            <el-button type="default" icon="el-icon-download" size="medium">Export<i
                                                    class="el-icon-arrow-down el-icon--right"></i>
                                            </el-button>
                                            <el-button type="default" icon="el-icon-c-scale-to-original" size="medium">
                                                <i class="el-icon-arrow-down el-icon--right"></i>
                                            </el-button>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <!-- Plans Table -->
                                <el-table border :data="tableData" stripe style="width: 100%">
                                    <el-table-column prop="date" label="Date" width="180">
                                    </el-table-column>
                                    <el-table-column prop="name" label="Name" width="180">
                                    </el-table-column>
                                    <el-table-column prop="address" label="Address">
                                    </el-table-column>
                                </el-table>
                            </div>
                        </el-col>
                    </el-row>
                    <!-- /Product -->
                    <!---------------------------------------------------------------/CONTENT---->
                    <el-divider></el-divider>
                    <h2>UI Kit</h3>
                        <el-row :gutter="12">
                            <el-col :span="8">
                                <el-card shadow="always">
                                    <div>
                                        <h3>Account</h3>
                                    </div>
                                    <br />
                                    <div>
                                        <span>
                                            Some text content
                                        </span>
                                    </div>
                                    <br />
                                    <div>
                                        <el-dropdown>
                                            <el-link type="primary">Manage<i
                                                    class="el-icon-arrow-down el-icon--right"></i>
                                            </el-link>
                                            <el-dropdown-menu slot="dropdown">
                                                <el-dropdown-item>Action 1</el-dropdown-item>
                                                <el-dropdown-item>Action 2</el-dropdown-item>
                                                <el-dropdown-item>Action 3</el-dropdown-item>
                                                <el-dropdown-item>Action 4</el-dropdown-item>
                                                <el-dropdown-item>Action 5</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                        <el-link type="danger">Delete</el-link>
                                        </el-footer>
                                    </div>
                                </el-card>
                            </el-col>
                            <el-col :span="8">
                                <el-card shadow="never">
                                    <div>
                                        <h3>User Card</h3>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                        <br />
                        <el-row>
                            <el-col :span="20">
                                Regular Buttons:
                                <el-dropdown>
                                    <el-button>Default<i class="el-icon-arrow-down el-icon--right"></i>
                                    </el-button>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item>Action 1</el-dropdown-item>
                                        <el-dropdown-item>Action 2</el-dropdown-item>
                                        <el-dropdown-item>Action 3</el-dropdown-item>
                                        <el-dropdown-item>Action 4</el-dropdown-item>
                                        <el-dropdown-item>Action 5</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <el-button type="primary" icon="el-icon-share">Primary</el-button>
                                <el-button type="success">Success</el-button>
                                <el-button type="info">Info</el-button>
                                <el-button type="warning">Warning</el-button>
                                <el-button type="danger">Danger</el-button>
                            </el-col>
                            <el-col :span="3" style="background-color:blue; padding:20px;">
                                <el-button class="cb-button-contrast">Contrast</el-button>
                            </el-col>
                        </el-row>
                        <br />
                        <el-row>
                            Plain Buttons:
                            <el-button plain>Default</el-button>
                            <el-button type="primary" plain>Primary</el-button>
                            <el-button type="success" plain>Success</el-button>
                            <el-button type="info" plain>Info</el-button>
                            <el-button type="warning" plain>Warning</el-button>
                            <el-button type="danger" plain>Danger</el-button>
                        </el-row>
                        <br />
                        <el-row>
                            Sizes:
                            <el-button>Large</el-button>
                            <el-button type="primary" size="medium">Medium</el-button>
                            <el-button type="success" size="small">Small</el-button>
                            <el-button type="success" size="small" plain>Small</el-button>
                        </el-row>
                        <br /><br />
                        <el-row>
                            <el-button type="text default">Text Button<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text primary">Text Button<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text info">Text Button<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text danger">Text Button<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text success">Text Button<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-button type="text warning">Text Button<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell :span="12">
                                <el-input placeholder=" Please input" v-model="input">
                                </el-input>
                                <el-input placeholder="Please input" v-model="input" :disabled="true">
                                </el-input>
                            </el-cell>
                        </el-row>
                        <br />
                        <el-row>
                            <el-cell>
                                Dark Tags:
                                <el-tag size="mini" effect="dark" type="primary">Primary</el-tag>
                                <el-tag size="mini" effect="dark" type="warning">Warning</el-tag>
                                <el-tag size="mini" effect="dark" type="info">Info</el-tag>
                                <el-tag size="mini" effect="dark" type="danger">Danger</el-tag>
                                <el-tag size="mini" effect="dark" type="success">Success</el-tag>
                                <br /><br />Plain Tags:
                                <el-tag size="mini" effect="plain">Primary</el-tag>
                                <el-tag size="mini" effect="plain" type="warning">Warning</el-tag>
                                <el-tag size="mini" effect="plain" type="info">Info</el-tag>
                                <el-tag size="mini" effect="plain" type="danger">Danger</el-tag>
                                <el-tag size="mini" effect="plain" type="success">Success</el-tag>
                                <br /><br />Light Tags:
                                <el-tag size="mini" effect="light">Primary</el-tag>
                                <el-tag size="mini" effect="light" type="warning">Warning</el-tag>
                                <el-tag size="mini" effect="light" type="info">Info</el-tag>
                                <el-tag size="mini" effect="light" type="danger">Danger</el-tag>
                                <el-tag size="mini" effect="light" type="success">Success</el-tag>
                            </el-cell>
                        </el-row>
                </el-main>
                <!--<el-footer>Footer</el-footer>-->
            </el-container>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="scripts/vue.js"></script>
<script src="scripts/elements-ui.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                input: 'test me',
                isCollapse: true,
                visible: false,
                activeName: 'first',
                tableData: [{
                    date: '2016-05-03',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles'
                }, {
                    date: '2016-05-02',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles'
                }, {
                    date: '2016-05-04',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles'
                }, {
                    date: '2016-05-01',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles'
                }]
            }
        }
    })
</script>

</html>