$space-xx-large: 40px;
$space-x-large: 24px;
$space-large: 16px;
$font-xx-large: 24px;
$font-xx-large-spacing: 0.48px;
$font-x-large: 20px;
$font-x-large-spacing: 0.4px;
$font-large: 16px;
$font-large-spacing: 0.64px;
$font-medium: 14px;
$font-medium-spacing: 0.5;
$font-small: 12px;
$font-small-spacing: 0.2;
$font-x-small: 10px;
$font-x-small-spacing: 0;
$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-medium: 500;
$font-weight-normal: 400;
$line-height-large: 1.5;
$line-height-medium: 1.25;
$line-height-small: 1.1;
$radius: 5px;
$radius-medium: 3px;
$radius-small: 5px;
$radius-none: 0px;
$border: 1px;
$border-medium: 1px;
$border-none: 0px;
$font-face-heading: "Pragmatica", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-face-regular: "Pragmatica", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-face-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-face-icons: "Font Awesome 5 Free";
$widget-Large: 40px;
$widget-Medium: 36px;
$widget-Small: 32px;
$widget-Mini: 28px;
$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$shadow-x-large: 0 0 40px rgba(0, 0, 0, 0.1);
$shadow-large: 0px 5px 10px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 2px 5px rgba(0, 0, 0, 0.1);
$shadow-small: none;
$shadow-hovered: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
$shadow-none: none;
$opacity-disabled: 0.5;
$color-brand: #408CF0;
$color-primary: #408CF0;
$color-secondary: #8C8C8C;
$color-black: #47485A;
$color-gray: #8C8C8C;
$color-white: #ffffff;
$color-danger: #d83a3a;
$color-warning: #ff8e2a;
$color-success: #60C060;
$color-progress: #8c8c8c;
$color-highlight: yellow;
$color-neutral-darkest: #7f7f7f;
$color-neutral-darker: #8c8c8c;
$color-neutral-dark: #999999;
$color-neutral: #a6a6a6;
$color-neutral-light: #bfbfbf;
$color-neutral-lighter: #d9d9d9;
$color-neutral-lightest: #e5e5e5;
$color-background-brand: #408CF0;
$color-background-primary: #408CF0;
$color-background-primary-active: #1270eb;
$color-background-primary-hovered: #1270eb;
$color-background-secondary: #8C8C8C;
$color-background-secondary-active: #737373;
$color-background-secondary-hovered: #737373;
$color-background-danger: #d83a3a;
$color-background-warning: #ff8e2a;
$color-background-success: #60C060;
$color-background-progress: #8c8c8c;
$color-background-highlight: yellow;
$color-background-ghost: transparent;
$color-background-ghost-active: #bfbfbf;
$color-background-ghost-hovered: #bfbfbf;
$color-background-disabled: #F5F7FA;
$color-background-stage: #F8F9FB;
$color-background-container: white;
$color-background-overlay: rgba(0, 0, 0, 0.5);
$color-text-default: #47485A;
$color-text: #47485A;
$color-text-brand: #408CF0;
$color-text-primary: #408CF0;
$color-text-secondary: #8c8c8c;
$color-text-active: #408CF0;
$color-text-highlight: yellow;
$color-text-disabled: #a6a6a6;
$color-text-danger: #d83a3a;
$color-text-warning: #ff8e2a;
$color-text-success: #60C060;
$color-text-progress: #8c8c8c;
$color-border-default: #d9d9d9;
$color-border: #d9d9d9;
$color-border-brand: #408CF0;
$color-border-primary: #408CF0;
$color-border-secondary: #8C8C8C;
$color-border-neutral: #d9d9d9;
$color-border-separator: #d9d9d9;
$color-border-disabled: #bfbfbf;
$color-border-active: #408CF0;
$color-border-danger: #d83a3a;
$color-border-warning: #ff8e2a;
$color-border-success: #60C060;
$color-border-progress: #8c8c8c;
$color-text-default-contrast: #ffffff;
$color-text-brand-contrast: #ffffff;
$color-text-primary-contrast: #ffffff;
$color-text-secondary-contrast: rgba(255, 255, 255, 0.7);
$color-text-active-contrast: #ffffff;
$color-text-highlight-contrast: #000000;
$color-text-disabled-contrast: rgba(0, 0, 0, 0.2);
$color-text-danger-contrast: #ffffff;
$color-text-warning-contrast: #ffffff;
$color-text-success-contrast: #ffffff;
$color-text-progress-contrast: #ffffff;
$color-text-default-fade: rgba(71, 72, 90, 0.4);
$color-text-brand-fade: rgba(64, 140, 240, 0.4);
$color-text-primary-fade: rgba(64, 140, 240, 0.4);
$color-text-secondary-fade: rgba(140, 140, 140, 0.4);
$color-text-active-fade: rgba(64, 140, 240, 0.4);
$color-text-highlight-fade: rgba(255, 255, 0, 0.4);
$color-text-disabled-fade: rgba(166, 166, 166, 0.4);
$color-text-danger-fade: rgba(216, 58, 58, 0.4);
$color-text-warning-fade: rgba(255, 142, 42, 0.4);
$color-text-success-fade: rgba(96, 192, 96, 0.4);
$color-text-progress-fade: rgba(140, 140, 140, 0.4);
$table-head-height: 48px;
$table-head-background: transparent;
$table-head-background-shadow: inset 0 -1px 0px #9AAAB75E;
$table-head-text-color: #8c8c8c;
$table-head-text-size: 14px;
$table-head-text-weight: 400;
$table-head-text-letter-spacing: 0.5;
$table-item-height: 64px;
$table-item-striped-background: #63788A05;
$table-item-striped-shadow: inset 0 -1px 0px #9AAAB75E;
$table-item-background: transparent;
$table-item-shadow: inset 0 -1px 0px #9AAAB75E;
$top-bar-background: #ffffff;
$top-bar-background-shadow: none;
$top-bar-item-text: #47485A;
$top-bar-item-font: 14px;
$top-bar-item-font-spacing: 0.5;
$top-bar-item-weight: 500;
$top-bar-item-icon-font: 24px;
$top-bar-height: 64px;
$top-bar-logo: "images/panel-logo.png";
$side-bar-background: #F8F9FB;
$side-bar-width: 296px;
$side-bar-margin-bottom: 50px;
$side-bar-item-text: #47485A;
$side-bar-item-text-active: #408CF0;
$side-bar-item-font: 16px;
$side-bar-item-font-spacing: 0.5;
$side-bar-item-weight: 500;
$side-bar-item-icon-font: 24px;
$side-bar-item-text-hovered: #408CF0;
$side-bar-item-height: 48px;
$side-bar-item-background-active: transparent;
$side-bar-item-background-hovered: transparent;
$side-bar-sub-item-text: #47485A;
$side-bar-sub-item-text-active: #408CF0;
$side-bar-sub-item-font: 14px;
$side-bar-sub-item-font-spacing: 0.5;
$side-bar-sub-item-height: 36px;
$side-bar-sub-item-weight: 400;
$side-bar-sub-item-padding-left: 12px;
$footer-background: #F2F2F2;
$footer-line-color: #CCCCCC;
$footer-logo: "../images/poweredby-logo.png";
$login-head-background: "none";
$login-page-background: "../images/login_page_bckgr.jpg";
$speed-slow: all 0.9s ease;
$speed-medium: all 0.2s ease;
$speed-fast: all 0.1s ease;
$duration-long: 0.9s;
$duration-medium: 0.2s;
$duration-short: 0.1s;
$transition-fadein: '.transit .fadeIn';
$transition-slidein-right: '.transit .slideInRight';
$transition-slidein-left: '.transit .slideInLeft';
$transition-slidein-up: '.transit .slideInUp';
$transition-slidein-down: '.transit .slideInDown';
$transition-fadeout: '.transit .fadeOut';
$transition-slideout-right: '.transit .slideOutRight';
$transition-slideout-left: '.transit .slideOutLeft';
$transition-slideout-up: '.transit .slideOutUp';
$transition-slideout-down: '.transit .slideOutDown';
$radio-symbol-size: 16px;
$radio-selected-symbol-color: #408CF0;
$radio-selected-symbol-border-width: 4px;
$radio-regular-symbol-color: #d9d9d9;
$radio-regular-symbol-border-width: 1px;
$radio-label-margin-left: 16px;
$radio-label-font-size-Large: 14px;
$radio-label-font-size-Medium: 14px;
$radio-label-font-size-Small: 12px;
$radio-outlined-height-Large: 64px;
$radio-outlined-height-Medium: 36px;
$radio-outlined-height-Small: 32px;
$radio-outlined-symbol-margin-left: 24px;
$radio-outlined-border-radius: 5px;
$radio-outlined-selected-background: #33A1FC1F;
$radio-outlined-selected-border-width: 2px;
$radio-outlined-selected-border-color: #408CF0;
$radio-outlined-regular-background: none;
$radio-outlined-regular-border-width: 1px;
$radio-outlined-regular-border-color: #d9d9d9;
$checkbox-border-radius: 3px;
$checkbox-border-selected-symbol-color: #ffffff;
$button-height-Large: 40px;
$button-height-Medium: 36px;
$button-height-Small: 32px;
$button-font-size-Large: 16px;
$button-font-size-Medium: 14px;
$button-font-size-Small: 14px;
$button-contrast-text-color: #ffffff;
$button-contrast-border-color: rgba(255, 255, 255, 0.7);
$button-border-width: 1px;
$button-label-width-Large: 55px;
$button-label-width-Medium: 48px;
$button-label-width-Small: 48px;
$button-icon-margin-left-Large: 10px;
$button-icon-margin-left-Medium: 8px;
$button-icon-margin-left-Small: 6px;
$button-icon-margin-right-Large: 10px;
$button-icon-margin-right-Medium: 8px;
$button-icon-margin-right-Small: 6px;
$button-icon-width-Large: 24px;
$button-icon-width-Medium: 24px;
$button-icon-width-Small: 24px;
$button-label-margin-left-Large: 18px;
$button-label-margin-left-Medium: 16px;
$button-label-margin-left-Small: 15px;
$button-label-margin-right-Large: 18px;
$button-label-margin-right-Medium: 16px;
$button-label-margin-right-Small: 15px;
$button-iconlabel-margin-left-Large: 14px;
$button-iconlabel-margin-left-Medium: 8px;
$button-iconlabel-margin-left-Small: 6px;
$button-iconlabel-space-Large: 2px;
$button-iconlabel-space-Medium: 2px;
$button-iconlabel-space-Small: 2px;
$button-labelactions-space-Large: 4px;
$button-labelactions-space-Medium: 4px;
$button-labelactions-space-Small: 4px;
$button-iconactions-space-Large: 4px;
$button-iconactions-space-Medium: 4px;
$button-iconactions-space-Small: 4px;
$button-actions-width-Large: 8px;
$button-actions-width-Medium: 8px;
$button-actions-width-Small: 8px;
$button-actions-margin-right-Large: 10px;
$button-actions-margin-right-Medium: 8px;
$button-actions-margin-right-Small: 6px;
$text-input-height-Large: 40px;
$text-input-height-Medium: 36px;
$text-input-height-Small: 32px;
$text-input-height-Mini: 28px;
$text-input-font-size-Large: 14px;
$text-input-font-size-Medium: 14px;
$text-input-font-size-Small: 14px;
$text-input-font-size-Mini: 14px;
$text-input-text-margin-left-Large: 15px;
$text-input-text-margin-left-Medium: 15px;
$text-input-text-margin-left-Small: 12px;
$text-input-text-margin-left-Mini: 12px;
$text-input-text-width-Large: 210px;
$text-input-text-width-Medium: 210px;
$text-input-text-width-Small: 210px;
$text-input-text-width-Mini: 210px;
$text-input-text-margin-right-Large: 15px;
$text-input-text-margin-right-Medium: 15px;
$text-input-text-margin-right-Small: 12px;
$text-input-text-margin-right-Mini: 12px;
$text-input-state-text-width-Large: 190px;
$text-input-state-text-width-Medium: 190px;
$text-input-state-text-width-Small: 190px;
$text-input-state-text-width-Mini: 190px;
$text-input-state-icon-margin-left-Large: 9px;
$text-input-state-icon-margin-left-Medium: 9px;
$text-input-state-icon-margin-left-Small: 8px;
$text-input-state-icon-margin-left-Mini: 8px;
$text-input-state-icon-width-Large: 24px;
$text-input-state-icon-width-Medium: 24px;
$text-input-state-icon-width-Small: 24px;
$text-input-state-icon-width-Mini: 24px;
$text-input-state-icon-margin-right-Large: 10px;
$text-input-state-icon-margin-right-Medium: 10px;
$text-input-state-icon-margin-right-Small: 8px;
$text-input-state-icon-margin-right-Mini: 8px;
$card-padding: 16px;
$card-shadow-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
$card-regular-shadow: none;
$content-padding: 40px;
$tag-height-Mini: 16px;
$tag-text-margin: 4px;
$tag-text-width-Mini: 20px;
$tag-text-font-size-Mini: 10px;
$tag-text-font-weight-Mini: 500;
$tag-text-font-spacing-Mini: 0;
$tag-border-radius: 3px;
$tag-dark-text-color: #ffffff;
$tag-text-transform: uppercase;
$tag-light-primary-border-color: #cee1fb;
$tag-light-primary-background-color: #eaf2fd;
$tag-light-success-border-color: #ceebce;
$tag-light-success-background-color: #e3f4e3;
$tag-light-danger-border-color: #f1baba;
$tag-light-danger-background-color: #f6d3d3;
$tag-light-info-border-color: #d9d9d9;
$tag-light-info-background-color: #e8e8e8;
$tag-light-warning-border-color: #ffdfc3;
$tag-light-warning-background-color: #ffefe2;
$tabs-item-text-font-size: 20px;
$tabs-item-letter-spacing: 0px;
$tabs-item-font-family: "Pragmatica", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$tabs-item-font-weight: 500;
$tabs-item-text-selected-color: #408CF0;
$tabs-item-text-regular-color: #47485A;
$tabs-item-line-selected-color: #408CF0;
$tabs-item-line-regular-color: #8c8c8c;
$tabs-item-padding-leftright: 16px;
$drawer-width: 640px;
$drawer-back-background-color: white;
$drawer-back-shadow: -8px 4px 12px rgba(0, 0, 0, 0.08);
$drawer-back-border-color: none;
$drawer-back-border-width: 0px;
$drawer-back-border-radius: 0px;
$topmenu-submenu-width: 340px;
$topmenu-back-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$mp-service-icon-large-size: 72px;
$mp-service-icon-large-border-radius: 15px;
$mp-service-icon-medium-size: 64px;
$mp-service-icon-medium-border-radius: 9px;
$mp-plan-background-hover: #e5e5e5;
$mp-plan-content-margin-left: 16px;
$mp-plan-content-margin-top: 2px;
$mp-plan-content-space: 2px;
$mp-plan-label-line-height: 20px;
$mp-plan-vendor-color: #8c8c8c;
$mp-plan-vendor-font-size: 14px;
$mp-plan-vendor-font-weight: 500;
$mp-plan-vendor-line-height: 20px;
$mp-plan-price-color: #60C060;
$mp-plan-price-font-size: 14px;
$mp-plan-price-line-height: 20px;
$mp-plan-price-font-weight: 500;
$mp-product-header-border-radius: 0px 0px 15px 15px;
$mp-product-header-space: 32px;
$mp-product-header-vendor-text-opacity: 0.7;
$mp-product-header-background-color: #215CA2;
$mp-product-header-content-margin-left: 24px;
