$space-xx-large: 40px;
$space-x-large: 24px;
$space-large: 16px;
$font-xxx-large: 32px;
$font-xxx-large-spacing: 0;
$font-xxx-large-line-height: 40px;
$font-xx-large: 24px;
$font-xx-large-spacing: 0;
$font-xx-large-line-height: 32px;
$font-x-large: 20px;
$font-x-large-spacing: 0;
$font-x-large-line-height: 28px;
$font-large: 16px;
$font-large-spacing: 0;
$font-large-line-height: 24px;
$font-medium: 14px;
$font-medium-spacing: 0;
$font-medium-line-height: 20px;
$font-small: 12px;
$font-small-spacing: 0;
$font-small-line-height: 16px;
$font-x-small: 10px;
$font-x-small-spacing: 0;
$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-medium: 500;
$font-weight-normal: 400;
$line-height-large: 1.5;
$line-height-medium: 1.25;
$line-height-small: 1.1;
$radius: 3px;
$radius-circle: 100%;
$radius-large: 15px;
$radius-medium: 5px;
$radius-small: 3px;
$radius-none: 0px;
$border: 1px;
$border-large: 2px;
$border-medium: 1px;
$border-none: 0px;
$font-face-heading: "Pragmatica", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-face-regular: "Pragmatica", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-face-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-face-icons: "Font Awesome 5 Free";
$widget-Large: 40px;
$widget-Medium: 36px;
$widget-Small: 32px;
$widget-Mini: 28px;
$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$shadow-x-large: 0 0 40px rgba(0, 0, 0, 0.1);
$shadow-large: 0px 5px 10px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 2px 5px rgba(0, 0, 0, 0.1);
$shadow-small: none;
$shadow-hovered: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
$shadow-none: none;
$opacity-disabled: 0.5;
$color-brand: #264BFA;
$color-primary: #264BFA;
$color-primary-light-1: #728afc;
$color-primary-light-2: #e5e9fe;
$color-primary-light-3: #eef1ff;
$color-black: #1A1A34;
$color-black-light-1: #888895;
$color-black-light-2: #afafb8;
$color-black-light-3: #dddde1;
$color-black-light-4: #e8e8eb;
$color-black-light-5: #f6f6f7;
$color-success: #1CB84D;
$color-warning: #FF8E2A;
$color-danger: #E40949;
$color-info: #888895;
$color-white: #FFFFFF;
$color-highlight: #FFB70A;
$color-background-brand: #264BFA;
$color-background-primary: #264BFA;
$color-background-primary-active: #052de8;
$color-background-primary-hovered: #052de8;
$color-background-secondary: #888895;
$color-background-secondary-active: #6e6e7c;
$color-background-secondary-hovered: #6e6e7c;
$color-background-danger: #E40949;
$color-background-warning: #FF8E2A;
$color-background-success: #1CB84D;
$color-background-info: #888895;
$color-background-highlight: #FFB70A;
$color-background-ghost: transparent;
$color-background-ghost-active: #dddde1;
$color-background-ghost-hovered: #dddde1;
$color-background-disabled: #F5F7FA;
$color-background-stage: #F8F9FB;
$color-background-container: white;
$color-background-overlay: rgba(0, 0, 0, 0.5);
$color-text-default: #1A1A34;
$color-text: #1A1A34;
$color-text-brand: #264BFA;
$color-text-primary: #264BFA;
$color-text-secondary: #888895;
$color-text-active: #264BFA;
$color-text-highlight: #FFB70A;
$color-text-disabled: #dddde1;
$color-text-danger: #E40949;
$color-text-warning: #FF8E2A;
$color-text-success: #1CB84D;
$color-text-info: #888895;
$color-border-default: #dddde1;
$color-border: #dddde1;
$color-border-brand: #264BFA;
$color-border-primary: #264BFA;
$color-border-secondary: #888895;
$color-border-neutral: #dddde1;
$color-border-separator: #dddde1;
$color-border-disabled: #e8e8eb;
$color-border-active: #264BFA;
$color-border-success: #1CB84D;
$color-border-warning: #FF8E2A;
$color-border-danger: #E40949;
$color-border-info: #888895;
$color-text-default-contrast: #ffffff;
$color-text-brand-contrast: #ffffff;
$color-text-primary-contrast: #ffffff;
$color-text-secondary-contrast: rgba(255, 255, 255, 0.7);
$color-text-active-contrast: #ffffff;
$color-text-highlight-contrast: #000000;
$color-text-disabled-contrast: rgba(0, 0, 0, 0.2);
$color-text-danger-contrast: #ffffff;
$color-text-warning-contrast: #ffffff;
$color-text-success-contrast: #ffffff;
$color-text-info-contrast: #ffffff;
$color-text-default-fade: rgba(26, 26, 52, 0.4);
$color-text-brand-fade: rgba(38, 75, 250, 0.4);
$color-text-primary-fade: rgba(38, 75, 250, 0.4);
$color-text-secondary-fade: rgba(136, 136, 149, 0.4);
$color-text-active-fade: rgba(38, 75, 250, 0.4);
$color-text-highlight-fade: rgba(255, 183, 10, 0.4);
$color-text-disabled-fade: rgba(221, 221, 225, 0.4);
$color-text-danger-fade: rgba(228, 9, 73, 0.4);
$color-text-warning-fade: rgba(255, 142, 42, 0.4);
$color-text-success-fade: rgba(28, 184, 77, 0.4);
$color-text-info-fade: rgba(136, 136, 149, 0.4);
$table-head-height: 48px;
$table-head-background: transparent;
$table-head-background-shadow: inset 0 -1px 0px #9AAAB75E;
$table-head-text-color: #888895;
$table-head-text-size: 14px;
$table-head-text-weight: 400;
$table-head-text-letter-spacing: 0;
$table-item-height: 64px;
$table-item-striped-background: #63788A05;
$table-item-striped-shadow: inset 0 -1px 0px #9AAAB75E;
$table-item-background: transparent;
$table-item-shadow: inset 0 -1px 0px #9AAAB75E;
$top-bar-background: #FFFFFF;
$top-bar-background-shadow: none;
$top-bar-item-text: #1A1A34;
$top-bar-item-font: 14px;
$top-bar-item-font-spacing: 0;
$top-bar-item-weight: 500;
$top-bar-item-icon-font: 24px;
$top-bar-height: 64px;
$top-bar-logo: "images/panel-logo.png";
$side-bar-background: #f6f6f7;
$side-bar-width: 296px;
$side-bar-margin-bottom: 50px;
$side-bar-item-text: #1A1A34;
$side-bar-item-text-active: #264BFA;
$side-bar-item-font: 16px;
$side-bar-item-font-spacing: 0;
$side-bar-item-weight: 500;
$side-bar-item-icon-font: 24px;
$side-bar-item-text-hovered: #264BFA;
$side-bar-item-height: 48px;
$side-bar-item-background-active: transparent;
$side-bar-item-background-hovered: transparent;
$side-bar-sub-item-text: #1A1A34;
$side-bar-sub-item-text-active: #264BFA;
$side-bar-sub-item-font: 14px;
$side-bar-sub-item-font-spacing: 0;
$side-bar-sub-item-height: 36px;
$side-bar-sub-item-weight: 400;
$side-bar-sub-item-padding-left: 12px;
$footer-background: #F2F2F2;
$footer-line-color: #CCCCCC;
$footer-logo: "../images/poweredby-logo.png";
$login-head-background: "none";
$login-page-background: "../images/login_page_bckgr.jpg";
$speed-slow: all 0.9s ease;
$speed-medium: all 0.2s ease;
$speed-fast: all 0.1s ease;
$duration-long: 0.9s;
$duration-medium: 0.2s;
$duration-short: 0.1s;
$transition-fadein: '.transit .fadeIn';
$transition-slidein-right: '.transit .slideInRight';
$transition-slidein-left: '.transit .slideInLeft';
$transition-slidein-up: '.transit .slideInUp';
$transition-slidein-down: '.transit .slideInDown';
$transition-fadeout: '.transit .fadeOut';
$transition-slideout-right: '.transit .slideOutRight';
$transition-slideout-left: '.transit .slideOutLeft';
$transition-slideout-up: '.transit .slideOutUp';
$transition-slideout-down: '.transit .slideOutDown';
$radio-symbol-size: 16px;
$radio-selected-symbol-color: #264BFA;
$radio-selected-symbol-border-width: 4px;
$radio-regular-symbol-color: #dddde1;
$radio-regular-symbol-border-width: 1px;
$radio-label-margin-left: 16px;
$radio-label-font-size-Large: 14px;
$radio-label-font-size-Medium: 14px;
$radio-label-font-size-Small: 12px;
$radio-outlined-height-Large: 64px;
$radio-outlined-height-Medium: 36px;
$radio-outlined-height-Small: 32px;
$radio-outlined-symbol-margin-left: 24px;
$radio-outlined-border-radius: 3px;
$radio-outlined-selected-background: #33A1FC1F;
$radio-outlined-selected-border-width: 2px;
$radio-outlined-selected-border-color: #264BFA;
$radio-outlined-regular-background: none;
$radio-outlined-regular-border-width: 1px;
$radio-outlined-regular-border-color: #dddde1;
$checkbox-border-radius: 5px;
$checkbox-border-selected-symbol-color: #FFFFFF;
$button-height-Large: 40px;
$button-height-Medium: 36px;
$button-height-Small: 32px;
$button-font-size-Large: 16px;
$button-font-size-Medium: 14px;
$button-font-size-Small: 14px;
$button-contrast-text-color: #ffffff;
$button-contrast-border-color: rgba(255, 255, 255, 0.7);
$button-border-width: 1px;
$button-label-width-Large: 55px;
$button-label-width-Medium: 48px;
$button-label-width-Small: 48px;
$button-icon-margin-left-Large: 10px;
$button-icon-margin-left-Medium: 8px;
$button-icon-margin-left-Small: 6px;
$button-icon-margin-right-Large: 10px;
$button-icon-margin-right-Medium: 8px;
$button-icon-margin-right-Small: 6px;
$button-icon-width-Large: 24px;
$button-icon-width-Medium: 24px;
$button-icon-width-Small: 24px;
$button-label-margin-left-Large: 18px;
$button-label-margin-left-Medium: 16px;
$button-label-margin-left-Small: 15px;
$button-label-margin-right-Large: 18px;
$button-label-margin-right-Medium: 16px;
$button-label-margin-right-Small: 15px;
$button-iconlabel-margin-left-Large: 14px;
$button-iconlabel-margin-left-Medium: 8px;
$button-iconlabel-margin-left-Small: 6px;
$button-iconlabel-space-Large: 2px;
$button-iconlabel-space-Medium: 2px;
$button-iconlabel-space-Small: 2px;
$button-labelactions-space-Large: 4px;
$button-labelactions-space-Medium: 4px;
$button-labelactions-space-Small: 4px;
$button-iconactions-space-Large: 4px;
$button-iconactions-space-Medium: 4px;
$button-iconactions-space-Small: 4px;
$button-actions-width-Large: 8px;
$button-actions-width-Medium: 8px;
$button-actions-width-Small: 8px;
$button-actions-margin-right-Large: 10px;
$button-actions-margin-right-Medium: 8px;
$button-actions-margin-right-Small: 6px;
$text-input-height-Large: 40px;
$text-input-height-Medium: 36px;
$text-input-height-Small: 32px;
$text-input-height-Mini: 28px;
$text-input-font-size-Large: 14px;
$text-input-font-size-Medium: 14px;
$text-input-font-size-Small: 14px;
$text-input-font-size-Mini: 14px;
$text-input-text-margin-left-Large: 15px;
$text-input-text-margin-left-Medium: 15px;
$text-input-text-margin-left-Small: 12px;
$text-input-text-margin-left-Mini: 12px;
$text-input-text-width-Large: 210px;
$text-input-text-width-Medium: 210px;
$text-input-text-width-Small: 210px;
$text-input-text-width-Mini: 210px;
$text-input-text-margin-right-Large: 15px;
$text-input-text-margin-right-Medium: 15px;
$text-input-text-margin-right-Small: 12px;
$text-input-text-margin-right-Mini: 12px;
$text-input-state-text-width-Large: 190px;
$text-input-state-text-width-Medium: 190px;
$text-input-state-text-width-Small: 190px;
$text-input-state-text-width-Mini: 190px;
$text-input-state-icon-margin-left-Large: 9px;
$text-input-state-icon-margin-left-Medium: 9px;
$text-input-state-icon-margin-left-Small: 8px;
$text-input-state-icon-margin-left-Mini: 8px;
$text-input-state-icon-width-Large: 24px;
$text-input-state-icon-width-Medium: 24px;
$text-input-state-icon-width-Small: 24px;
$text-input-state-icon-width-Mini: 24px;
$text-input-state-icon-margin-right-Large: 10px;
$text-input-state-icon-margin-right-Medium: 10px;
$text-input-state-icon-margin-right-Small: 8px;
$text-input-state-icon-margin-right-Mini: 8px;
$card-padding: 16px;
$card-shadow-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
$card-regular-shadow: none;
$content-padding: 40px;
$tag-height-Mini: 16px;
$tag-text-margin: 4px;
$tag-text-width-Mini: 20px;
$tag-text-font-size-Mini: 10px;
$tag-text-font-weight-Mini: 500;
$tag-text-font-spacing-Mini: 0;
$tag-border-radius: 3px;
$tag-dark-text-color: #FFFFFF;
$tag-text-transform: uppercase;
$tag-light-primary-border-color: #d4dbfe;
$tag-light-primary-background-color: #e9edff;
$tag-light-success-border-color: #d2f1db;
$tag-light-success-background-color: #e8f8ed;
$tag-light-warning-border-color: #ffe8d4;
$tag-light-warning-background-color: #fff4ea;
$tag-light-danger-border-color: #facedb;
$tag-light-danger-background-color: #fce6ed;
$tag-light-info-border-color: #e7e7ea;
$tag-light-info-background-color: #f3f3f4;
$tabs-item-text-font-size-Large: 16px;
$tabs-item-text-font-size-Medium: 14px;
$tabs-item-text-font-size-Small: 12px;
$tabs-item-text-margin-top: 8px;
$tabs-item-text-margin-right-Large: 24px;
$tabs-item-text-margin-right-Medium: 20px;
$tabs-item-text-margin-right-Small: 16px;
$tabs-item-height-Large: 34px;
$tabs-item-height-Medium: 32px;
$tabs-item-height-Small: 30px;
$tabs-item-letter-spacing: 0px;
$tabs-item-font-family: "Pragmatica", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$tabs-item-font-weight: 500;
$tabs-item-text-selected-color: #264BFA;
$tabs-item-text-regular-color: #1A1A34;
$tabs-item-line-selected-height: 2px;
$tabs-item-line-selected-color: #264BFA;
$tabs-item-line-regular-color: #888895;
$tabs-item-padding-leftright: 16px;
$drawer-width: 640px;
$drawer-back-background-color: white;
$drawer-back-shadow: -8px 4px 12px rgba(0, 0, 0, 0.08);
$drawer-back-border-color: none;
$drawer-back-border-width: 0px;
$drawer-back-border-radius: 0px;
$steps-label-font-size: medium;
$steps-label-font-weight: 400;
$steps-label-completed-color: #264BFA;
$steps-label-current-color: #264BFA;
$steps-label-future-color: #888895;
$steps-step-font-size: 14px;
$steps-step-height: 24px;
$steps-step-completed-color: #FFFFFF;
$steps-step-completed-border-color: none;
$steps-step-completed-border-width: 0px;
$steps-step-completed-background-color: #264BFA;
$steps-step-current-color: #FFFFFF;
$steps-step-current-border-color: none;
$steps-step-current-border-width: 0px;
$steps-step-current-background-color: #264BFA;
$steps-step-future-color: #888895;
$steps-step-future-border-color: #888895;
$steps-step-future-border-width: 1px;
$steps-step-future-background-color: none;
$topmenu-submenu-width: 340px;
$topmenu-back-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$mp-service-icon-large-size: 72px;
$mp-service-icon-large-border-radius: 15px;
$mp-service-icon-medium-size: 64px;
$mp-service-icon-medium-border-radius: 9px;
$mp-plan-background-hover: #f6f6f7;
$mp-plan-content-margin-left: 16px;
$mp-plan-content-margin-top: 2px;
$mp-plan-content-space: 2px;
$mp-plan-label-line-height: 20px;
$mp-plan-vendor-color: #888895;
$mp-plan-vendor-font-size: 14px;
$mp-plan-vendor-font-weight: 500;
$mp-plan-vendor-line-height: 20px;
$mp-plan-price-color: #1CB84D;
$mp-plan-price-font-size: 14px;
$mp-plan-price-line-height: 20px;
$mp-plan-price-font-weight: 500;
$mp-product-header-border-radius: 0px 0px 15px 15px;
$mp-product-header-space: 32px;
$mp-product-header-vendor-text-opacity: 0.7;
$mp-product-header-background-color: #215CA2;
$mp-product-header-content-margin-left: 24px;
